<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">Croatian Cosmetics</a>
    <div class="card">
      <p-menubar class="menubar" [model]="items">
        <ng-template pTemplate="start">
        </ng-template>
        <ng-template pTemplate="end">
          <input type="text" pInputText #searchInput (input)="onSearch(searchInput.value)" placeholder="Search"
            class="w-full" />
          <div class="search-wrapper">
            <div *ngIf="productsForDropdown.length">
              <ul class="dropdown">
                <li *ngFor="let product of productsForDropdown" (click)="onProductSelect(product)">
                  {{ product.name }}
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </p-menubar>
    </div>
  </div>

</header>

