<div class="container">
    <div *ngIf="product">
        <img [src]="product.imageUrl" [alt]="product.name">
        <div class="details">
            <div class="header">
                <span class="name">
                    {{product.name}}
                </span>
                <div class="favorite">
                    <app-wishlist-button [product]="product"></app-wishlist-button>
                </div>
            </div>
            <div class="star">
                <app-rating [product]="product" (ratingSubmitted)="onRatingSubmitted($event)"></app-rating>
            </div>
            <div class="product-item-footer">
                <div class="description">{{product.description}}</div>
                <div class="brand">{{product.brand}}</div>
                <div class="category">Category: {{product.category}}</div>
                <div class="price">{{product.price | currency:'EUR'}}</div>
            </div>
        </div>
    </div>
</div>
