<div *ngFor="let product of wishlist$ | async">
    <ul class="image-grid">
        <li>
            <a routerLink="/product/{{product.id}}"><img src="{{product.imageUrl}}" alt="product images"></a>
            <div class="content">
                <div class="name">
                    {{product.name}}
                </div>
                <div class="star">
                    <p-rating [(ngModel)]="product.rating" [cancel]="false"></p-rating>
                </div>
                <div class="product-item-footer">
                    <div class="category">{{product.brand}} | {{product.category}}
                    </div>
                    <div class="price">{{product.price | currency:'EUR'}}</div>
                </div>
            </div>
            <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-outlined" 
    (click)="removeFromWishlist(product)"></p-button>
        </li>
    </ul>
</div>

  
