<div *ngFor="let product of wishlist$ | async">
    <table class="image-grid">
        <tr>
            <a routerLink="/product/{{product.id}}"><img src="{{product.imageUrl}}" alt="product images"></a>
            <div class="content">
                <td class="name">
                    {{product.name}}
                </td>
                <td class="star">
                    <p-rating [(ngModel)]="product.rating" [cancel]="false"></p-rating>
                </td>
                <div class="product-item-footer">
                    <td class="category">{{product.brand}} | {{product.category}}
                    </td>
                    <td class="price">{{product.price | currency:'EUR'}}</td>
                </div>
            </div>
            <td><p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-outlined" 
    (click)="removeFromWishlist(product)"></p-button></td>
    </table>
</div>

  
