@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

*{
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; // Set the font-family to Open Sans, with a fallback to the default sans-serif font
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a{
    text-decoration: none;
}
:root {
    --font-family: 'Open Sans', sans-serif;
}