<ul class="image-grid">
    <li *ngFor="let product of products">
        <a [routerLink]="['/product', product.id]"><img src="{{product.imageUrl}}" alt="product images"></a>
        <div class="content">
            <div class="name">
                {{product.name}}
            </div>
            <div class="favorite">
                <p-toggleButton [(ngModel)]="product.favorite" onIcon="pi pi-heart-fill" offIcon="pi pi-heart"
                styleClass="p-button-rounded p-button-help p-button-raised" (click)="addToWishlist(product)"></p-toggleButton>
             </div>
            <div class="star">
                <p-rating [(ngModel)]="product.rating" [cancel]="false"></p-rating>
            </div>
            <div class="product-item-footer">
                <div class="category">{{product.brand}} | {{product.category}}
                </div>
                <div class="price">{{product.price | currency:'EUR'}}</div>
            </div>
        </div>
    </li>
</ul>

<!-- {{products | json}} -->