.image-grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  
  .image-grid li {
    width: 20%; /* 5 slika u retku */
    padding: 10px; /* Razmak oko box-eva */
    box-sizing: border-box; /* Uključuje padding u ukupnu širinu */

     /* Prilagodba na manjim ekranima */
  @media (max-width: 768px) {
    width: 50%; /* 2 slike u retku */
  }

  /* Prilagodba na još manjim ekranima */
  @media (max-width: 480px) {
    width: 100%; /* 1 slika u retku */
  }
  }
  
  .image-grid img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Prilagodi sliku proporcionalno unutar box-a */
  }

  ul li a{
    height: 15rem;
    width: 15rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: purple;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
  padding: .5rem 1rem;
  position: relative;
}

//heart icon
.favorite{
  position: absolute;
  top: .3rem;
  right: 1rem;
}
::ng-deep {
  .pi-heart{
    color: pink;
  }

  .pi-heart:hover {
    color: purple!important;
}
}

//star icon
.star{
  margin-bottom: .2rem;
  margin-top: .4rem;
}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category{
  flex: 9;
  border-radius: 2rem;
  color: #6e6e6e;
  font-size: .9rem;
  margin-right: .3rem;
  display: inline-block;
}

.price{
  flex: 1;
  border-radius: 2rem;
  color: #6e6e6e;
  font-size: .9rem;
  display: inline-block;
}






